<% provide(:title, 'Players') %>

<head>
  <script src="https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var pusher = new Pusher('<%=escape_javascript ENV['pusher_key'] %>', { encrypted: true });
      var channel = pusher.subscribe('players_channel');
      channel.bind('update', function(data) {
        var messageBox = $('#progress-bar-form').children('.messages')
        var progressBar = $('#progress-bar')

        progressBar.width(data.progress+"%")
        messageBox.html(data.message)
      });
      $('.stadium').each(function() {
        var value = $(this).text();
        if (value >= 240) {
          $(this).addClass('blue');
        }
        else if (value < 240 && value >= 200) {
          $(this).addClass('green');
        }
        else if (value < 200 && value >= 180) {
          $(this).addClass('yellow');
        }
        else if (value < 180 && value >= 150) {
          $(this).addClass('orange');
        }
        else if (value < 150) {
          $(this).addClass('red');
        }
      });
      $('.minutes').each(function() {
        var value = $(this).text();
        if (value >= 30) {
          $(this).addClass('blue');
        }
        else if (value < 30 && value >= 25) {
          $(this).addClass('green');
        }
        else if (value < 25 && value >= 20) {
          $(this).addClass('yellow');
        }
        else if (value < 20 && value >= 10) {
          $(this).addClass('orange');
        }
        else if (value < 10) {
          $(this).addClass('red');
        }
      });
      $('.ai_diff').each(function() {
        var value = $(this).text();
        if (value != 0) {
          $(this).addClass('red');
        }
      });
    });
  </script>
</head>

<div class="row">
  <div class="col-xs-6 col-sm-offset-3">
    <h1>Players</h1>
  </div>
  <div class="col-xs-6 col-sm-3">
    <%= link_to "Update", {controller: :players, action: "get_info"}, {class: "btn btn-md btn-primary", style: "float: right"} %>
    <!--<table>
      <td>
        <%#= link_to "Update NT", {controller: :players, action: "login_HA"}, {class: "btn btn-md btn-primary", style: "float: right"} %>
      </td>
      <td></td>
      <td>
        
      </td>
    </table> -->
  </div>
</div>

<%= form_tag({controller: :players, action: :get_info}, method: "post", id: "progress-bar-form") do %>
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-info" id='progress-bar'></div>
  </div>
  <p class="messages"></p>
<% end %>

<table class="players">
  <thead>
    <tr>
      <% if @player_instances.first.team == "senior" %>
        <th>Name (Age)</th>
      <% else %>
        <th>Name</th>
      <% end %>
      <th>AI</th>
      <th>Q</th>
      <th>P</th>
      <th>T/R</th>
      <th>Avg Min</th>
      <th>Goa</th>
      <th>Def</th>
      <th>Att</th>
      <th>Sho</th>
      <th>Pas</th>
      <th>Spe</th>
      <th>Str</th>
      <th>SCo</th>
      <th>Type</th>
      <th>Exp</th>
      <th>Calc AI</th>
      <th>AI Diff</th>
      <th>Games</th>
      <th>Min</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <% if player.size == 1 %>
          <% if @player_instances[index].team == "senior" %>
            <td><%= link_to @player_instances[index].name, player_path(@player_instances[index]) %> (<%= @player_instances[index].age %>)</td>
          <% else %>
            <td><%= link_to @player_instances[index].name, player_path(@player_instances[index]) %></td>
          <% end %>
          <td><%= player[0]["ai"] %></td>
          <td><%= @player_instances[index].quality %></td>
          <td><%= @player_instances[index].potential %></td>
          <td class="stadium"><%= player[0]["stadium"] %></td>
          <td class="minutes"><%= average_minutes(player[0]) %></td>
          <td><%= player[0]["goalie"] %></td>
          <td><%= player[0]["defense"] %></td>
          <td><%= player[0]["offense"] %></td>
          <td><%= player[0]["shooting"] %></td>
          <td><%= player[0]["passing"] %></td>
          <td><%= player[0]["speed"] %></td>
          <td><%= player[0]["strength"] %></td>
          <td><%= player[0]["selfcontrol"] %></td>
          <td><%= player[0]["playertype"] %></td>
          <td><%= player[0]["experience"] %></td>
          <td><%= calculate_ai(player[0]) %></td>
          <td class="ai_diff"><%= player[0]["ai"] - calculate_ai(player[0]) %></td>
          <td class="games"><%= player[0]["games"] %></td>
          <td><%= player[0]["minutes"] %></td>
        <% else %>
          <% if @player_instances[index].team == "senior" %>
            <td><%= link_to @player_instances[index].name, player_path(@player_instances[index]) %> (<%= @player_instances[index].age %>)</td>
          <% else %>
            <td><%= link_to @player_instances[index].name, player_path(@player_instances[index]) %></td>
          <% end %>

          <% if player[1]["ai"] - player[0]["ai"] < 1 %>
            <td><%= player[1]["ai"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["ai"] %></td>
          <% end %>

          <td><%= @player_instances[index].quality %></td>
          <td><%= @player_instances[index].potential %></td>
          <td class="stadium"><%= player[1]["stadium"] %></td>
          <td class="minutes"><%= average_minutes(player[1]) %></td>

          <% if player[1]["goalie"].nil? || player[0]["goalie"].nil? || player[1]["goalie"] - player[0]["goalie"] < 1 %>
            <td><%= player[1]["goalie"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["goalie"] %></td>
          <% end %>

          <% if player[1]["defense"].nil? || player[0]["defense"].nil? || player[1]["defense"] - player[0]["defense"] < 1 %>
            <td><%= player[1]["defense"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["defense"] %></td>
          <% end %>
          
          <% if player[1]["offense"].nil? || player[0]["offense"].nil? || player[1]["offense"] - player[0]["offense"] < 1 %>
            <td><%= player[1]["offense"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["offense"] %></td>
          <% end %>
          
          <% if player[1]["shooting"].nil? || player[0]["shooting"].nil? || player[1]["shooting"] - player[0]["shooting"] < 1 %>
            <td><%= player[1]["shooting"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["shooting"] %></td>
          <% end %>
          
          <% if player[1]["passing"].nil? || player[0]["passing"].nil? || player[1]["passing"] - player[0]["passing"] < 1 %>
            <td><%= player[1]["passing"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["passing"] %></td>
          <% end %>
          
          <% if player[1]["speed"].nil? || player[0]["speed"].nil? || player[1]["speed"] - player[0]["speed"] < 1 %>
            <td><%= player[1]["speed"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["speed"] %></td>
          <% end %>
          
          <% if player[1]["strength"].nil? || player[0]["strength"].nil? || player[1]["strength"] - player[0]["strength"] < 1 %>
            <td><%= player[1]["strength"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["strength"] %></td>
          <% end %>
          
          <% if player[1]["selfcontrol"].nil? || player[0]["selfcontrol"].nil? || player[1]["selfcontrol"] - player[0]["selfcontrol"] < 1 %>
            <td><%= player[1]["selfcontrol"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["selfcontrol"] %></td>
          <% end %>
          
          <td><%= player[1]["playertype"] %></td>

          <% if player[1]["experience"].nil? || player[0]["experience"].nil? || player[1]["experience"] - player[0]["experience"] < 1 %>
            <td><%= player[1]["experience"] %></td>
          <% else %>
            <td class="darkgreen"><%= player[1]["experience"] %></td>
          <% end %>
          
          <td><%= calculate_ai(player[1]) %></td>

          <td class="ai_diff"><%= player[1]["ai"] - calculate_ai(player[1]) %></td>

          <td class="games"><%= player[1]["games"] %></td>

          <td><%= player[1]["minutes"] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>