<% provide(:title, 'Players') %>

<head>
  <script src="https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var pusher = new Pusher('<%=escape_javascript ENV['pusher_key'] %>', { encrypted: true });
      var channel = pusher.subscribe('players_channel');
      channel.bind('update', function(data) {
        var messageBox = $('#progress-bar-form').children('.messages')
        var progressBar = $('#progress-bar')

        progressBar.width(data.progress+"%")
        messageBox.html(data.message)
      });
    })
  </script>
</head>

<div class="row">
  <div class="col-xs-6 col-sm-offset-3">
    <h1>Players</h1>
  </div>
  <div class="col-xs-6 col-sm-3">
    <table>
      <td>
        <%= link_to "Update NT", {controller: :players, action: "login_HA"}, {class: "btn btn-md btn-primary", style: "float: right"} %>
      </td>
      <td></td>
      <td>
        <%= link_to "Update U20", {controller: :players, action: "get_info"}, {class: "btn btn-md btn-primary", style: "float: right"} %>
      </td>
    </table>
  </div>
</div>

<%= form_tag({controller: :players, action: :get_info}, method: "post", id: "progress-bar-form") do %>
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-info" id='progress-bar' style="width: 0%"></div>
  </div>
  <p class="messages"></p>
<% end %>

<table id="players">
  <thead>
    <tr>
      <th>Name</th>
      <th>AI</th>
      <th>Q</th>
      <th>P</th>
      <th>T/R</th>
      <th>Avg Min</th>
      <th>Goa</th>
      <th>Def</th>
      <th>Att</th>
      <th>Sho</th>
      <th>Pas</th>
      <th>Spe</th>
      <th>Str</th>
      <th>SCo</th>
      <th>Type</th>
      <th>Exp</th>
      <th>Calc AI</th>
      <th>AI Diff</th>
      <th>Games</th>
      <th>Min</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player_path(player) %></td>
        <td><%= player.ai %></td>
        <td><%= player.quality %></td>
        <td><%= player.potential %></td>
        <td><%= player.stadium %></td>
        <td><%= average_minutes(player) %></td>
        <td><%= player.goalie %></td>
        <td><%= player.defense %></td>
        <td><%= player.offense %></td>
        <td><%= player.shooting %></td>
        <td><%= player.passing %></td>
        <td><%= player.speed %></td>
        <td><%= player.strength %></td>
        <td><%= player.selfcontrol %></td>
        <td><%= player.playertype %></td>
        <td><%= player.experience %></td>
        <td><%= calculate_ai(player) %></td>
        <td><%= player.ai - calculate_ai(player) %></td>
        <td><%= player.games %></td>
        <td><%= player.minutes %></td>
      </tr>
    <% end %>
  </tbody>
</table>