<% provide(:title, "Login to HA") %>

<head>
  <script src="https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var pusher = new Pusher('<%=escape_javascript ENV['pusher_key'] %>', { encrypted: true });
      var channel = pusher.subscribe('players_channel');
      channel.bind('update', function(data) {
        var messageBox = $('#progress-bar-form').children('.messages')
        var progressBar = $('#progress-bar')

        progressBar.width(data.progress+"%")
        messageBox.html(data.message)
      });
    })
  </script>
</head>

<h1>Login to HA</h1>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= form_tag({controller: :players, action: :get_NT_info}, id: "progress-bar-form") do %>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info" id='progress-bar' style="width: 0%"></div>
      </div>
      <p class="messages"></p>
      <div class="form-group">
        <%= label_tag(:username, "Username", class: "col-sm-3 control-label") %>
        <div class="col-sm-9">
          <%= text_field_tag(:username, "", class: "form-control", placeholder: "Username") %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag(:password, "Password", class: "col-sm-3 control-label") %>
        <div class="col-sm-9">
          <%= password_field_tag(:password, "", class: "form-control", placeholder: "Password") %>
        </div>
      </div>
      <div class="form-actions">
        <%= submit_tag "Login", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>