<% provide(:title, 'YS/Draft') %>
<%= form_tag('/youth_school', method: 'get', class: 'form-group', style: 'float: left; margin-bottom: 0; padding-right: 15px;') do %>
  <%= select_tag(:manager, options_for_select([['speedysportwhiz'], ['magicspeedo']], params[:manager]), {class: 'form-control', style: 'display: initial; width: 140px; margin-bottom: 0'}) %>
  <%= select_tag(:version, options_for_select([['live'], ['beta']], params[:version]), {class: 'form-control', style: 'display: initial; width: 60px; margin-bottom: 0'}) %>
  <%= select_tag(:type, options_for_select([['ys'], ['draft']], params[:type]), {class: 'form-control', style: 'display: initial; width: 60px; margin-bottom: 0'}) %>
  <%= submit_tag('Go', class: 'btn btn-md btn-primary') %>
<% end %>
<table id="youthTable" style="margin-top: 20px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Quality</th>
      <th>Potential</th>
      <th>Talent</th>
      <% @dates.each do |date| %>
        <th><%= date %></th>
      <% end %>
      <th>Avg</th>
      <th>Min</th>
      <th>Max</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.quality %></td>
        <td><%= player.potential %></td>
        <td><%= player.talent %></td>
        <% if @dates.size - player.ai.keys.size > 0 %>
          <% (1..(@dates.size - player.ai.keys.size)).each do |blanks| %>
            <td></td>
          <% end %>
        <% end %>
        <% @ai_array[index].each do |ai| %>
          <% if (player.age == 16 and ai >= 49) or (player.age == 17 and ai >= 78) or (player.age == 18 and ai >= 111) %>
            <td class="blue"><%= ai %></td>
          <% elsif (player.age == 16 and ai >= 47) or (player.age == 17 and ai >= 76) or (player.age == 18 and ai >= 103) %>
            <td class="green"><%= ai %></td>
          <% elsif (player.age == 16 and ai <= 5) or (player.age == 17 and ai <= 31) %>
            <td class="red"><%= ai %></td>
          <% elsif (player.age == 16 and ai <= 7) or (player.age == 17 and ai <= 33) or (player.age == 18 and ai <= 62) %>
            <td class="orange"><%= ai %></td>
          <% else %>
            <td><%= ai %></td>
          <% end %>
        <% end %>
        <td><%= sprintf("%.2f", @calculations[index][0]) %></td>
        <td><%= @calculations[index][1] %></td>
        <td><%= @calculations[index][2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
