<% provide(:title, "speedy Beta Draft") %>
<div class="row">
  <h2 style="float: left">speedysportwhiz Beta Draft</h2>
  <div style="float:right; margin-top: 17px">
    <%= link_to "speedy Live YS", {controller: :youth_school, action: "speedyLiveYS"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedy Live Draft", {controller: :youth_school, action: "speedyLiveDraft"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedy Beta YS", {controller: :youth_school, action: "speedyBetaYS"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedy Beta Draft", {controller: :youth_school, action: "speedyBetaDraft"}, {class: "btn btn-md btn-primary"} %>
  </div>
</div>
<%= render 'shared/show_youth' %>