<% provide(:title, "speedo Beta Draft") %>
<div class="row">
  <h2 style="float: left">magicspeedo Beta Draft</h2>
  <div style="float:right; margin-top: 17px">
    <%= link_to "speedo Live YS", {controller: :youth_school, action: "speedoLiveYS"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedo Live Draft", {controller: :youth_school, action: "speedoLiveDraft"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedo Beta YS", {controller: :youth_school, action: "speedoBetaYS"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedo Beta Draft", {controller: :youth_school, action: "speedoBetaDraft"}, {class: "btn btn-md btn-primary"} %>
  </div>
</div>
<%= render 'shared/show_youth' %>