<% provide(:title, "speedo Live YS") %>
<div class="row">
  <h2 style="float: left">magicspeedo Live YS</h2>
  <div style="float:right; margin-top: 17px">
    <%= link_to "speedo Live YS", {controller: :youth_school, action: "speedo_live_ys"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedo Live Draft", {controller: :youth_school, action: "speedo_live_draft"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedo Beta YS", {controller: :youth_school, action: "speedo_beta_ys"}, {class: "btn btn-md btn-primary"} %>
    <%= link_to "speedo Beta Draft", {controller: :youth_school, action: "speedo_beta_draft"}, {class: "btn btn-md btn-primary"} %>
  </div>
</div>
<%= render 'shared/show_youth' %>