<header class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "USA HA", root_path, class: "logo" %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">National <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "U20: Active", national_path(team: 'u20_active') %></li>
              <li><%= link_to "U20: Next", national_path(team: 'u20_next') %></li>
              <li><%= link_to "Senior", national_path(team: 'senior') %></li>
            </ul>
          </li>
          <li><%= link_to "YS/Draft", ys_path(manager: 'speedysportwhiz', version: 'live', type: 'ys') %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
