<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "USA U20", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
          <li><%= link_to "U20:63-64", players6364_path %></li>
          <li><%= link_to "U20:65-66", players6566_path %></li>
          <li><%= link_to "Senior", playersSenior_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Youth School <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "speedysportwhiz - Live", speedyLiveYS_path %></li>
              <li><%= link_to "speedysportwhiz - Beta", speedyBetaYS_path %></li>
              <li><%= link_to "magicspeedo - Live", speedoLiveYS_path %></li>
              <li><%= link_to "magicspeedo - Beta", speedoBetaYS_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Draft <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "speedysportwhiz - Live", speedyLiveDraft_path %></li>
              <li><%= link_to "speedysportwhiz - Beta", speedyBetaDraft_path %></li>
              <li><%= link_to "magicspeedo - Live", speedoLiveDraft_path %></li>
              <li><%= link_to "magicspeedo - Beta", speedoBetaDraft_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>